ELASTIC_USERNAME=
ELASTIC_PASSWORD=
KIBANA_SYSTEM_PASSWORD=
STACK_VERSION=8.15.3
ELASTIC_KIBANA_USERNAME=
ELASTIC_KIBANA_PASSWORD=

XPACK_SECURITY_ENCRYPTION_KEY=
XPACK_ENCRYPTED_SAVED_OBJECTS_KEY=
XPACK_REPORTING_ENCRYPTION_KEY=
